<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  </head>
  <body ng-app="sisuQuantRealtime" ng-controller="finance" class='dashboard-wrapper'>
    <div class='header'>
      <h1><%= title %></h1>
    </div>
    <div class='row'>
      <div class='column'>
        <h3>Stock Market Data</h3>
        <div ng-controller="refresh_finance">
          <span class='bold'>Spy Trade Price</span>: <span ng-style='{color: spyColor}'>{{spyTradePrice}}</span>
        </div>
        <div ng-controller="refresh_finance">
          <span class='bold'>CL Trade Price</span>: <span ng-style='{color: clColor}'>{{clTradePrice}}</span>
        </div>
        <div ng-controller="refresh_finance">
          <span class='bold'>S&P Yearly Performance</span>: <span ng-style='{color: spyYearlyColor}'>{{spyYearlyPerformance | number: 2}}%</span>
        </div>
      </div>
      <div class='column'>
        <h3>Housing Data</h3>
        <p><span class='bold'>National Price to Income Level</span>:</p>
        <p><span class='bold'>15-Year Fixed Morgage Rate</span>: <%= fifteenYearMortgageRate %>%</p>
        <p><span class='bold'>30-Year Fixed Morgage Rate</span>: <%= thirtyYearMortgageRate %>%</p>
        <div id="large-rate-table-iframe-widget-container" style="width:300px;border: 1px solid #bfbfbf;padding:5px;margin:0 auto;font:normal normal normal 8pt verdana,arial,sans-serif;text-transform:none;text-indent:0;line-height:13px;background-color:#fff;letter-spacing:0;color: #555;overflow:hidden;text-align:center;box-sizing:content-box;"><div id="title" style="margin:5px 0 12px;text-align:left;"><h1 style="padding-top:0px;text-align:left;font-family: Arial,verdana,sans-serif;margin:0"><a href="https://www.zillow.com/mortgage-rates/" target="_blank" style="color:#000;font-style:normal;font-weight:bold;font-size:16px;padding:0;text-decoration:none;">Zillow</a></h1></div><iframe src="http://www.zillow.com/webtools/widgets/RateTableDistributionWidget.htm?mp=RD-FLNVMXZ&" width="306" height="215" frameborder="0" scrolling="no" style="display:block;"></iframe>
        </div>
      </div>
      <div class='column'>
        <h3>Economic Data</h3>
          <p><span class='bold'>Unemployment Rate</span>: <%= unemploymentRate %>%</p>
          <p><span class='bold'>Labor Participation Rate</span>: <%= laborParticipationRate %>%</p>
          <p><span class='bold'>Federal Funds Rate</span>: <%= federalFundsRate %>%</p>
          <p><span class='bold'>Debt to GDP</span>: <%= debtToGDP %>%</p>
          <p><span class='bold'>Inflation Rate</span>:</p>
          <p><span class='bold'>GDP Growth</span>:</p>
        </div>
      </div>
      <div class='column'>
        <h3>Bond Data</h3>
          <p><span class='bold'>5 Year Treasury Rate</span>: <%= fiveYearTreasury %>%</p>
          <p><span class='bold'>10 Year Treasury Rate</span>: <%= tenYearTreasury %>%</p>
          <p><span class='bold'>30 Year Treasury Rate</span>: <%= thirtyYearTreasury %>%</p>
          <p><span class='bold'>Bond Yield Spread</span>:</p>
        </div>
      </div>
    </div>
  </body>
</html>
